.header {
  background: $homelike-blue;
  color: white;
  padding: $m-size;
  position: fixed;
  top: 0;
  margin: auto;
  z-index: 100000;
  width: 100%;
}

.header-title {
  font-size: 2.2rem;
  vertical-align: top;
  padding-left: $m-size;
}

.signout, .signout:hover {
  color: $homelike-green;
}

.header-user {
  font-size: $sm-size;
}

.header-user-name {
  color: $homelike-green;
  font-weight: bold;
  padding-right: 10px;
}
