.panel-body .btn:not(.btn-block) {
  width: 200px;
  margin: 10px;
}

.stats {
  font-size: $sm-size;
}

#container {
  width: 100%;
  max-width: 730px;
  margin: 2em auto;
}
.box {
  color: white;
  float: left;
  padding: 10px;
  margin: 0 10px 20px 0;
  height:100px;
  width: 170px;
}

.tile-0 {
  background-color: #FC4F00;
}
.tile-1 {
  background-color: #80BD00;
}
.tile-2 {
  background-color: #00A1E1;
}
.tile-3 {
  background-color: #16225f;
}
.tile-4 {
  background-color: #932749;
}
.tile-5 {
  background-color: lightblue;
  text-align: center;
  padding-top: 20px;
}

.room-delete {
  float: right;
}

.room-title {
  font-size: 18px;
  margin-bottom: 10px;
}
