@media (max-width: 900px) {
  .user-list {
    padding-top: 50px;
  }
}

@media (min-width: 900px) {
  .user-list {
    position: fixed;
    top: 50px;
    margin: auto;
    z-index: 1;
    width: 350px;
  }
}

.bg-white {
  background-color: #fff;
}

.friend-list {
  list-style: none;
  margin-left: -40px;
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 0;
}

.friend-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
}

.friend-list li a .friend-name,
.friend-list li a .friend-name:hover {
  color: #777;
  font-weight: bold;
  font-size: $sm-size;
}

.friend-list li a .user-email {
  font-size: $sm-size;
  width: 65%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-list li a .time {
  position: absolute;
  top: 10px;
  right: 8px;
}

img {
  max-width: 100%;
}

.primary-font {
  color: #3c8dbc;
}

.room-name {
  font-size: $l-size;
}

.room-participants {
  font-size: $m-size;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.user-data {
  margin-left: 55px;
}

.user-profile {
  font-size: $ml-size;
  float: right;
  top: 20px;
}
