html {
  font-size: 62.5%;
}

body {
  background: $homelike-back-image no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $text-font-family;
  font-size: $m-size;
}
