// Colors
$homelike-blue: #2c577d;
$homelike-green: #5cb85c;

// Spacing
$s-size: 0.8rem;
$sm-size: 1.4rem;
$m-size: 1.6rem;
$ml-size: 2.0rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Images
$homelike-logo: url('/images/thehomelike-logo.svg');
$homelike-back-image: url('/images/thehomelike-back.jpg');

// Fonts
$text-font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
